.footer {
  padding: 60px 0;
  background: #E8E8E8;
  color: #666666;
  text-align: center;

  .item {
    a {
      color: #666666;
      text-decoration: none;
    }
  }

  .copyright {
    margin-top: 32px;
  }
}