.appbar {
  box-shadow: none !important;
}

.navbar {
  background-color: #fff;
  color: #252525;

  &-brand {
    margin-right: auto;
    a {
      color: #252525;
      text-decoration: none;
    }
  }

  .nav-item {
    > * + * {
      margin-left: 24px;
    }
  }
  .nav-link {
    text-decoration: none;
    color: #252525;
    font-size: 16px;
  }
}
.sidebar {
  width: 45vw;
  .item {
    a {
      color: #252525;
      text-decoration: none;
    }
  }
}